<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="RainbowTables">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-text"  target="./tests/phpunit.log" />
    </logging>
</phpunit>
